body {
    background: #bde2f5;
    padding: 5%;
}

table{
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ece9e0;
    color: #2d2e2d;
    border: 16px solid #ece9e0;
    border-radius: 20px;
}

th{
    font-size: 18px;
    padding: 10px;
}

td{
    background: #f5d7bf;
    padding: 10px;
}

.content {
    width: 1140px;
    margin: 0 auto;
    display: grid;
    padding: 10px;
    grid-gap: 20px;
    position: relative;
    top: 0px;
    justify-content: center;
}


  .conteiner2 {
    width: 1140px;
    display: grid;
    justify-content: center;
    padding: 10px; 
    position: absolute;
    right: 1070px;
    width: 150px;
    height: 45px;
    top:0px;
  }
  
  .conteiner3 {
    width: 1140px;
    display: grid;
    justify-content: center;
    padding: 10px; 
    position: absolute;
    right: 150px;
    width: 150px;
    height: 45px;
    top:0px;
  }

  .conteiner4 {
    width: 1140px;
    display: grid;
    justify-content: center;
    padding: 10px; 
    position: absolute;
    right: 900px;
    width: 150px;
    height: 45px;
    top:0px;
  }

  .search-conteiner {
    width: 1140px;
    display: grid;
    justify-content: center;
    padding: 10px; 
    position: absolute;
    right: 250px;
    width: 700px;
    height: 45px;
    top:0px;
  }

  
  button {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 20px;
    background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    box-shadow:
     0 0 3px rgba(0,0,0,0) inset,
     0 1px 1px 1px rgba(255,255,255,.2),
     0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
    cursor: pointer;
  }
  button:hover:not(:active) {
    box-shadow:
     0 0 3px rgba(0,0,0,0) inset,
     0 1px 1px 1px rgba(0,255,255,.5),
     0 -1px 1px 1px rgba(0,255,255,.5);
  }
  button:active {
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
     0 0 3px rgba(0,0,0,.5) inset,
     0 1px 1px 1px rgba(255,255,255,.4),
     0 -1px 1px 1px rgba(0,0,0,.1);
  }

  .search-conteiner button{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  #search-form{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(12, 12, 12);
    border-radius: 20px;
    outline: none;
    border: none;
  }
 